{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des souhaits</h1>
    <div class="col-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Intitulé</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for wish in wishes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ wish.title }}</td>
                    <td>
                        <a href="{{ path('wish', {id: wish.id}) }}" class="btn btn-primary btn-sm"><i class="far fa-eye"></i></a>
                        <a href="{{ path('adminEditWish', {id: wish.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-pen"></i></a>
                        <a href="{{ path('adminDeleteWish', {id: wish.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('adminAddWish') }}" class="btn btn-primary">Ajouter un souhait</a>
    </div>

    <hr class="my-4">

    <form action="{{ path('adminBrutAddWish') }}" method="POST">
        <p class="mt-3">Ajout rapide:</p>
        <div class="col-5">
            <div class="mb-3">
                <label for="add_wish_title" class="form-label required">Titre:</label>
                <input type="text" id="add_wish_title" name="title" required="required" class="form-control">
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3">
                <label for="add_wish_description" class="form-label required">Description:</label>
                <input type="text" id="add_wish_description" name="description" required="required" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
{% endblock %}
